section{
    padding: 130px 3%;
}

.orders-section-wrapper{

}

.orders-section-wrapper .orders-section-title{
    display: flex;
    justify-content: space-between;
}

.orders-section-wrapper .orders-section-title h1{
    font-size: 32px;
}

.orders-section-wrapper .orders-section-title button{
    background-color: #25CAAC;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.orders-section-wrapper .orders-section-title button i{
    font-size: 20px;
}

.orders-section-wrapper .orders-table{
    margin-top: 50px;
}

.orders-section-wrapper .orders-table .table{
    text-align: center;
    background-color: #000000;
}

.orders-section-wrapper .orders-table .table .thead th{
    background-color: #25CAAC;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    /* width: 100%;
    border-collapse: collapse; */
}

.orders-section-wrapper .orders-table .table td{
    padding: 15px 50px;
    background-color: #ededed;
}

/* .orders-section-wrapper .orders-table .table .thead .orders-button{
    background-color: ;
} */

.orders-section-wrapper .orders-table .table .tbody .action-button{
    display: flex;
    gap: 10px;
}